{% extends "default_layout.html" %}
{% block content %}
<div class="container">
    <h1>TOP15 SCORE</h1>
    <p>
        <form action={{common_urls.search_rank_page}} method="get">
            エントリー番号：
            <input type="text" name="word" placeholder="半角英数字"/>
            <input type="submit" value="検索">
        </form>
    </p>

    <table class="table table-dark">
        <thead>
            <tr>
                <th>順位</th><th>スコア</th><th>名前</th><th>時間</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(ranking_len) %}
                <tr>
                    <td>{{ i + 1 }}</td><td>{{ ranking[i].score }}</td><td>{{ ranking[i].name }}</td><td>{{ ranking[i].time_stamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
        setTimeout("location.reload(true)", 15000);
</script>
{% endblock %}
