<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>    
    <script type="text/JavaScript"> 
    $(function(){
      $("#coffee").html("");
      $("#coffee").qrcode({text:{{ rename_url_full }} }); 
    });
    </script>
  </head>
  <body>
    <div id="coffee"></div>
  </body>
</html>